:root {
    --color-espresso: #2c1a0e;
    --color-canela: #7b4a2d;
    --color-caramelo: #c4956a;
    --color-crema: #e8d5b7;
    --color-leche: #faf3e8;
}

html {
    height: 100%;
    margin: 0;
}
body {
    font-family:
        'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1;
}
